@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-bg: #1f1f1f;
  --card-bg: #28292a;
  --card-hover: #004a77;
  --button-bg: #a8c7fa;
  --primary-color: #e3e3e3;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--main-bg);
  color: var(--primary-color);
  transition: border-radius 0.3s cubic-bezier(0.2, 0, 0, 1),
    background-color 0.4s cubic-bezier(0.2, 0, 0, 1);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  touch-action: auto;
}
main {
  min-height: 100vh;
}
strong {
  background-color: transparent;
}
canvas {
  border-radius: 24px;
}
#tsparticles {
  height: 100%;
}
